
@{  
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <h1>Lобро пожаловать @(Response.Cookies["Login"] != null ? Response.Cookies["Login"].Value : "Гость")</h1>
        <a href="@Url.Action("SignOut","Home")">Logout</a>
</div>