
@{  
    ViewBag.Title = "Главная страница";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
        <h1>Добро пожаловать @(Response.Cookies["Login"] != null ? Response.Cookies["Login"].Value : "Гость")</h1>
        <a href="@Url.Action("SignOut","Home")">Выход</a>
</div>