@model BloodTransfusionStationApp.Models.Хранилища_крови

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Хранилища крови</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Группа крови
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Группа_крови)
            </dd>

            <dt>
                Расположение (номер кабинета)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Расположение__номер_кабинета_)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Номер_хранилища }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
